@import  https://fonts.googleapis.com/css?family=Lato;

body {
    background: url(http://igniteafricalibrary.org/assets/img/preview/slider/library.jpg);
    background-size: cover;
    color: white;
    font-family: 'Lato',sans-serif;
    text-align: center;
}
 section {

border: 1.5px black solid;
	opacity: 0.6;
	margin: 5%;
	padding:20px
	background-color: #ffffff;
	color: black;
	font-size: 20
	;
 }

 footer {
	background-color: #fffebb;
	text-decoration: underline;
	clear: both;
	color: black;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height:0;
}

 @media screen only (max-height: 640px) and (max-width: 320px)
{
	body{
		font-size: 1em;
	}
	img{
		margin: 0 1.6em .75em 0;
	}
}