@import  https://fonts.googleapis.com/css?family=Lato;

body {
    background: url(http://igniteafricalibrary.org/assets/img/preview/slider/library.jpg);
    background-size: cover;
    color: white;
    font-family: 'Lato',sans-serif;
    text-align: center;
}
 section {
 
border: 1.5px black solid;
	opacity: 0.6;
	margin: 30%;
	padding:20px;
	background-color: #ffffff;
	color: black;

 }