@import  https://fonts.googleapis.com/css?family=Lato;

body {
    background: url(http://igniteafricalibrary.org/assets/img/preview/slider/library.jpg);
    background-size: cover;
    font-color: white;
    font-family: 'Lato',sans-serif;
    text-align: center;
}


header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;

h1 {
    font-style: italic;
    font-size: 26px;
}

article {
	background-color: #E89C6C;
	font size: 20
	line-height: 1.5em
	margin 3em;

}
div {
	background-color: #FFE2B8
	font-size:18;
	font-weight: bold
}


h2 {
    font-size: 16px;
    line-height: 1.5em;
    margin: 2em;
    text-align: left;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

hr {
    width: 300px;
}

footer {
	background-color: #FF957E;
	text-decoration: underline;
	padding: 1em 0;
}
